.header {
    margin: 0 auto;
    max-width: 960px;
}

img {
    max-width: 960 px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
   }

p {
    font-family: 'Press Start 2P', cursive;
}
.oldtext {
    max-width: 960px;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    overflow: hidden;
    border: 6px double;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal 70px/1 "VT323", Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgb(150,150,150);
    text-shadow: 2px 2px 0 rgba(190,214,85,1) ;